{% extends "/layouts/base.twig" %}

{% block content %}

  <section class="main-section">
    <div class="row align-middle">
      <div class="large-4 medium-5 small-12 columns text-center medium-text-left">
        <a href=""><img src="{{ theme.link }}/dist/images/logo.svg" alt="Our logo" /></a>
      </div>
      <div class="large-8 medium-7 small-12 columns text-center medium-text-left">
        <h1>Lorem ipsum dolor sit amet consectetur adipiscing</h1>
        <p>
          Phasellus <strong>lobortis orci vel</strong> ligula consectetur, nec gravida est lobortis. Quisque tortor nunc, placerat quis volutpat quis, consequat vel libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis ut tellus justo. Aliquam malesuada pharetra ante, in mattis ligula volutpat eget.
        </p>
        <a href="" class="button">Call to action</a>
      </div>
    </div>
  </section>

{% endblock %}
