{% block header %}
<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html {{ function( 'language_attributes' ) }}>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ function( 'wp_head' ) }}
</head>
<body {{ function( 'body_class' ) }}>
{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
  {{ function( 'wp_footer' ) }}
  </body>
</html>
{% endblock %}
